<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Feedback </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>

    <section id="show1">
      <div id="show2">
      <div class="ver1">
        <% include partials/site-navigation.ejs %>
      </div>
      <div class="ver2">
        <p ><a href="index">Home</a>> <a href="categories">Category</a> > Items</p> <br>
		
		<p> <b> Feedback </b></p><br><br>
        <div class="img">
          <div class="img1">
            <img class="image" src=<%= item.imageUrl %> alt="<%= item.itemName %>">
        </div>
        <div class="para1">
          <p><%= item.itemName %></p>
          <p id="par2"><%= item.catalogCategory %></p>
          <p><%=  item.description   %></p>


          <form class="rateForm" method="post" action="/update">
             <input type="hidden" name = "itemCode" value = "<%= item.itemCode  %>">
                          <table>
                            <tr>
                              <td>
                                <label for="name">Rate: </label>

                                <select class="ratingOptions" name="rating">
                                  <option value="<%= rating %>"><%= rating %></option>
                                <option value="1">1 Star</option>
                                <option value="2">2 Star</option>
                                <option value="3">3 Star</option>
                                <option value="4">4 Star</option>
                                <option value="5">5 Star</option>
                                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                              </td>
                              <td>
                                <div class="radOptions">
                                <span>Made It? </span>
                                <%
                                  var options =["true","false"];;
                                  for(var j =0; j< options.length; j++){
                                    var checked = (madeIt == options[j]) ? "checked":"";
                                    %>
                                      <input type="radio" name="madeIt" id="<%=options[j]%>" value="<%=options[j]%>" <%=checked%> >
                                      <label for="<%=options[j]%>"><%=options[j]%></label>
                                    <%
                                  }
                                %>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <a href="/myItems">
                                  <button type="button" name="cancel">Cancel</button>
                                </a>
                              </td>
                              <td><button type="submit">Confirm</button></td>
                            </tr>
                          </table>
                        </form>

      </div>

    </div>
  </div>
</div>
    </section>
      <% include partials/footer.ejs %>
  </body>
</html>
